<li id="{{id}}" class="info-block tile {{color}}" data-row="{{row}}" data-col="{{col}}" data-sizex="{{sizex}}" data-sizey="{{sizey}}">
	<span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span>
	<h4>{{title}}</h4>
	<div class="tile-content-container">
		<p class="info">77777</p>
		<p class="description">{{description}}</p>
	</div>
</li>