<li id="{{id}}" class="map tile {{color}}" data-row="{{row}}" data-col="{{col}}" data-sizex="{{sizex}}" data-sizey="{{sizey}}">
	<span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span>
	<h4>{{title}}</h4>
	<div class="tile-content">
		<div class="map-container">
			<iframe id="embed-map" src="{{mapURL}}"></iframe>
			<span class="loading-label">Loading...</span>
		</div>
	</div>
</li>