<li id="{{id}}" class="bar-chart tile {{color}}" data-row="{{row}}" data-col="{{col}}" data-sizex="{{sizex}}" data-sizey="{{sizey}}">
	<span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span>
	<h4>{{title}}</h4>
	<div class="chart-container">
		<svg></svg>
	</div>
</li>