<li id="{{id}}" class="percent-ring tile {{color}}" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	<h4>{{title}}</h4>
	<div class="percent-ring-container">
		<svg width="150%" height="150%" viewBox="-1 -1 141 141" shape-rendering="geometricPrecision">
			<defs>
				<clipPath id="clip-path">
					<path d="M70,70 v-50 a50,50 0 1,0 0,100 a50,50 0 1,0 0,-100 v-20 a70,70 0 0,1 0,140 a70,70 0 1,1 0,-140" />
				</clipPath>
			</defs>
			<g  clip-path="url(#clip-path)">
				<path class="light" d="M70,70 v-70 a70,70 0 0,1 0,140 a70,70 0 1,1 0,-140" />
				<path class="dark dark-{{color}}" />
			</g>
			<path d="M20,70 a50,50 0 0,1 100,0 a50,50 0 0,1 -100,0" fill="none" />
			<text class="perc" x="70" y="79" font-size="30px" fill="white" text-anchor="middle">
				{{percent}}%
			</text>
		</svg>
		<span class="description">{{description}}</span>
	</div>
</li>