<li id="{{id}}" class="tile table-tile {{color}}" data-row="{{row}}" data-col="{{col}}" data-sizex="{{sizex}}" data-sizey="{{sizey}}">
	{{!-- <span class="resize-btn glyphicon glyphicon-resize-full" aria-hidden="true"></span> --}}
	<h4>{{title}}</h4>
	<div class="table-container">
		<table class="table table-header">
	        <tr class="dark-{{color}}">
	        </tr>
	    </table>
		<div class="table-body-container">
		    <table class="table table-body">
			</table>
		</div>
	</div>
</li>